:root {
  --font-family-work-sans: 'Work Sans', sans-serif;
  --color-black: #0b0b0b;
  --color-orange: #f88635;
  --color-dark-orange: #d66819;
  --color-blue: #0054a6;
  --color-dark-blue: #003d7a;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/family=Work+Sans:wght@600&display=swap');

.list-container,
.food-item-order,
.food-item-order div,
input,
.anonymous-checkbox {
  font-family: var(--font-family-work-sans);
}

.list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  align-items: start;
}

.list-container > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
}

.list-container h3 {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.food-item-order {
  background-color: var(--color-orange);
  color: #fff;
  padding: 2%;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 0px;
  position: relative;
  cursor: pointer;
}

.food-item-order div {
  padding: 5%;
}

.food-item-order:hover,
.food-item-order.selected {
  background-color: var(--color-dark-orange);
}

input {
  color: var(--color-black);
  padding: 1%;
  border: none;
}

input[type="text"]::placeholder {
  color: var(--color-black);
}

input[type='number'] {
  padding: .5%;
  width: 4em;
}

input[type="text"], input[type="email"], input[type="number"], select, textarea {
  padding: 10px;
  margin: 5px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 60%;
  transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, select:focus, textarea:focus {
  border-color: #ff6900;
  outline: none;
}

button, input[type="submit"] {
  background-color: var(--color-blue);
  color: white;
  font-size: larger;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  transition: background-color 0.3s;
}

button:hover, input[type="submit"]:hover {
  background-color: var(--color-dark-blue);
}

.anonymous-checkbox {
  font-weight:550;
  font-size: medium;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  input[type="text"], input[type="email"], input[type="number"], select, textarea, button, input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}