@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/family=Work+Sans:wght@600&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Styling */
body {
  color: #000; /* Black text color */
  background-color: #ebe7e7;
  position: relative;
}

/* Container Styling */
div {
  font-family: 'Lora', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  margin: auto; /* Centering the container */
}

footer{
  background-color:#0054a6;
}

/* Additional Styling for h2 */
h2 {
  padding-top: 1em; /* Spacing at the top */
}

/* Navigation Styling */
.nav-link {
  font-family: 'Work Sans', sans-serif;
  color: #fff; /* White text color for contrast */
  background-color: #ff6900; /* Orange shade similar to the logo */
  text-decoration: none; /* Removes the underline */
  padding: 15px 30px; /* Padding to increase the size of the clickable area */
  margin: 5px 15px; /* Margin around each navigation item */
  display: inline-block; /* Allows applying padding and margin correctly */
  border: none; /* No border for a button-like appearance */
  border-radius: 4px; /* Rounded corners for a button-like look */
  cursor: pointer; /* Cursor changes to a pointer to indicate a clickable element */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  list-style-type: none; /* Remove bullet points, in case it's inside a list */
  margin-bottom: 20px; /* Spacing below the navigation */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* Optional: adds a shadow for depth */
  float: right;
}

.nav-link:hover, .nav-link:focus {
  background-color: #e05d00; /* Slightly darker orange shade for hover state */
  text-decoration: none; /* Ensures text decoration does not reappear on hover */
}


